<html>
	<head>
		<title>Page index </title>
		<style>
			div {
			  border-style: solid;
			  border-width: thin;
			}
		</style>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		 <script src="../js/index.js" charset="UTF-8"></script>
	</head>
	<body>
		<div style="text-align: center; border-style: hidden; margin: 24px">
		   <a href="/add-post" class="btn btn-primary center-block">Add Post</a>
		</div>
		<center>
			<% posts.forEach(function(post){%>
				<div style="margin:20px; padding: 20px">
					<input id="delete-post" class="btn btn-secondary" type="button" value="DELETE" style="float: right; background-color: red;" onclick="handleDeletePost('<%= post._id %>')">
					<a href="/update-post/<%= post._id %>">
							<input id="update-btn" class="btn btn-secondary" type="button" value="Update" style="float: right; background-color: blue; margin-right: 10px;">
					</a>
					<p id="id"><%= post._id %></p>
					<p><%= post.post_content %></p>
					<% post.image_links.forEach(function(image){%>
						<img src="<%= image %>" alt="Trulli" width="300" height="300">
					<% }) %>
				</div>
				<input id="comment-post" class="btn btn-secondary" type="button" value="COMMENT" style="float: center; background-color: green;">

				<% comments.forEach(function(comment){ %>
					<% if(post._id.toString() == comment.post_id.toString()) { %>
					<div style="margin: 20px">
						<p> <%= comment.comment_details %></p>
					</div>
					<% } %>
				<% }) %>
			<% }) %>
			<br>
		</center>
	</body>
</html>
